
/* topBanner 2022.03.17 최종수정 */
.topBanner {
    padding: 30px 0;
    background: #333;
}

.topBanner .container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.topBanner .container h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.040em;
    color: #f2f2f2;
}

.topBanner .container p {
    margin-bottom: 10px;
    font-weight:300;
    letter-spacing: -0.025em;
    color: #f2f2f2;
}

.topBanner .container a {
    margin-left: 20px;
    padding: 5px 20px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight:300;
    border: 1px solid #f2f2f2;
    text-transform: uppercase;
}

.topBanner .container i {
    position: absolute;
    top:0;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #f2f2f2;
}
/* topBanner 2022.03.17 최종수정 */

 /* header 2022.03.17 최종수정  */

.headerWrap {
    background: #111;
}

.headerWrap .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    line-height: 100px;
}

.headerWrap .container > * {
    padding: 0 15px;
}

.headerWrap .container h1 {
    height: 100px;
}

.headerWrap .container img {
    height: 20%;
}

.headerWrap .searchForm {
    margin-left: auto;
}


.gnb > ul {
    display: flex;
}

.gnb > ul > li {
    position: relative;
    padding: 0 20px;
    color: #fff;
}

.gnb > ul > li~li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    width: 2px;
    height: 13px;
    background: #333;
}

.headerWrap .searchForm input[type="search"] {
    padding: 3px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
    background: #111;
    color: #fff;
}

.headerWrap .searchForm input[type="search"]:focus::placeholder {
    color: #fff;
}

.headerWrap .searchForm button {
    outline: none;
    border: none;
    background: transparent;
}

.headerWrap .searchForm button i {
    font-size: 15px;
    color: #fff;
    background: #333;
    padding: 5px;
    border-radius: 50%;
}


 /* header 2022.03.17 최종수정  */


.mainVisual .visualSlide figure {
    position: relative;
    height: 600px;
    
}

.msLeft {
    position: absolute;
    top: 50%;
    left: 200px;
    z-index: 999;
    border-top: 70px solid #fff;
    border-left: 70px solid transparent;
    transform: translateY(-50%) rotate(-135deg);
}


.msRight {
    position: absolute;
    top: 50%;
    right: 200px;
    border-top: 70px solid #fff;
    border-left: 70px solid transparent;
    transform: translateY(-50%) rotate(45deg);
}

.mainVisual .visualSlide figure .inner {
    width: 1200px;
    margin: 300px auto 0 auto;
    padding: 0 15px;
    color: #fff;
}

/*
.mainVisual .visualSlide figure.itm02 .inner {
    color: #333;
}
*/

.mainVisual .inner h3 {
    opacity: 0;
    transform: translateY(100px);
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 30px;
    transition: 1s 0.5s;
    line-height: 1.2;
}

.mainVisual .inner p {
    font-size: 15px;
    font-weight: 300;
    transform: translateY(100px);
    opacity: 0;
    transition: 1s 1s;
}

.mainVisual figure.oo .inner h3 {
    opacity: 1;
    transform: translateY(0);
}

.mainVisual figure.oo .inner p {
    opacity: 1;
    transform: translateY(0);
}

.mainVisual .visualSlide .itm01 {
    background: url(../lush/mainfix01.png) no-repeat center center/cover;
}
.mainVisual .visualSlide .itm02 {
    background: url(../lush/main04.jpg) no-repeat center center/cover;
}
.mainVisual .visualSlide .itm03 {
    background: url(../lush/mainfix03.png) no-repeat center center/cover;
}

.mainVisual .visualSlide .slick-dots {
    position: absolute;
    display: flex;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
}

.mainVisual .visualSlide .slick-dots li {
   width: 100px;
   height: 5px;
   background: #333;
   transition: 2s;
}

.mainVisual .visualSlide .slick-dots li::after {
   content: "";
   display: block;
   width: 0;
   height: 100%;
   background: rgba(30, 160, 110, 0.493);
   
}

.mainVisual .visualSlide .slick-dots li.slick-active::after {
   width: 100%;
   transition: 3s;
}

.mainVisual .visualSlide .slick-dots li.slick-active {
    background: #fff;
 }


.mainVisual .visualSlide .slick-dots button {
    display: none;
}


.mainProduct {
    padding: 100px 0;
    text-align: center;
    color: #111;
}

.mainProduct h2 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.mainProduct p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.025em;
    margin-bottom: 30px;
}

.mainProduct .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.mainProduct .container figure {
    position: relative;
    flex: 1;
    padding: 0 15px;
    
}

.mainProduct .container .inner {
    margin-bottom: 15px;
    overflow: hidden;
}

.mainProduct .container strong {
    display: block;
    margin-bottom: 10px;
}

.mainProduct .container figure a {
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    color: #333;
    border: 1px solid #333;
}

.mainProduct .container figure a:hover {
    
    background: #333;
    color: #fff;
}

.mainProduct .inner img { 
    transition: 0.5s;
}

.mainProduct .inner:hover img {
    transform: scale(1.4);
}

.mainProduct .container figure .label {
    position: absolute;
    top: 40px;
    right: 30px;
    border-top: 10px solid rgba(30, 160, 110, 0.493);
    border-left: 50px solid rgba(30, 160, 110, 0.493);
    border-bottom: 10px solid rgba(30, 160, 110, 0.493);
    border-right: 10px solid transparent;
    font-weight: 700;
}

.mainProduct .label span {
    position: absolute;
    top: -6px;
    left: -35px;
    color: #111;
}

.eventBanner {
    padding: 100px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../lush/banner.jpg) no-repeat fixed center center/cover;
    text-align: center;
    color: #fff;
}

.eventBanner h2 {
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 0.5em;
    margin-bottom: 10px;
}

.eventBanner p {
    font-size: 15px;
    font-weight:300;
    letter-spacing: -0.025em;
    margin-bottom: 30px;
}

.eventBanner i {
    background: #333;
    padding: 7px;
    border-radius: 50%;
    margin-left: 15px;
}


.eventProduct {
    padding: 100px 0;
}

.eventProduct .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.eventProduct .container > div {
    padding: 0 15px;
}

.eventProduct .left {
    width: 40%;
}

.eventProduct .left figure {
    border: 1px solid #ddd;
    padding: 5px;
}

.eventProduct .left img {
    margin: 0 auto;
}

.eventProduct .right {
    display: flex;
    align-items: center;
    width: 60%;
}


.eventProduct h3 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.eventProduct p {
    line-height: 1.4;
    font-size: 15px;
    font-weight:300;
    letter-spacing: -0.025em;
    margin-bottom: 30px;
}

.eventProduct i {
    background: #333;
    color: #fff;
    padding: 13px;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.allProduct {
    position: relative;
    padding: 100px 0;
    text-align: center;
    background: #f2f2f2;
}

.allProduct .container {
    width: 1200px;
    margin: 0 auto;

}

.allProduct .aProductSlide figure {
    padding: 0 15px;
}

.allProduct h2 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 0.5em;
    margin-bottom: 10px;
}

.allProduct p {
    line-height: 1.4;
    font-size: 15px;
    font-weight:300;
    letter-spacing: -0.025em;
    margin-bottom: 30px;
}

.allProduct .inner {
    margin-bottom: 20px;
}

.allProduct .inner + strong {
    display: block;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 20px;
}

.allProduct .slick-dots {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.allProduct .slick-dots li {
    width: 13px;
    height: 13px;
    background: #333;
    border-radius: 50%;
}


.allProduct .slick-dots li.slick-active {
    background: rgba(30, 160, 110, 0.493); 
}

.allProduct .slick-dots li button {
    display: none;

}

.allProduct i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
    background: #333;
    padding: 10px;
}

.allProduct i:first-child {
    margin-left: -700px;
}

.allProduct i:last-child {
    margin-left: 700px;
}

.slick-slide {
    transition: 0.5s;
}


.movieBg {
    padding: 100px 0;
    background: #000;
    filter: grayscale(0.8);
    color: #fff;
    text-align: center;

}

.movieBg h3 {
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 0.5em;
    margin-bottom: 20px;
}

.movieBg p {
    line-height: 1.4;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 30px;
    letter-spacing: 0.05em;
}

.movieBg i {
    font-size: 20px;
    padding: 10px;
    background: #333;
    border-radius: 50%;
}

.customerArea {
    padding: 100px 0;
    background: #f2f2f2;
}

.customerArea .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.customerArea .container>div {
    flex: 1;
    padding: 0 15px;
}

.customerArea .tabMenu {
    display: flex;
}

.customerArea .tabMenu>li {
    flex: 1;
    background: #333;
    color: #fff;
    padding: 10px 20px;
}

.customerArea .tabMenu>li.oo {
    background: rgba(30, 160, 110, 0.493);
}

.customerArea .tabMenu>li~li {
    border-left: 1px solid #fff;
}


.customerArea .tabContent>div {
    display: none;
}

.customerArea .tabContent>div.oo {
    display: block;

}

.customerArea .tabContent li {
    padding: 10px;
    border-bottom: 1px solid #999;
}

.customerArea .tabContent a {
    display: flex;
    justify-content: space-between;
}

.customerArea .tabContent strong {
    display: block; 
    white-space: nowrap;
    width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
}


.rightPic {
    position: relative;
}


.rightPic .more{
    width: 100%;
    height: 250px;
    background: url(../lush/main04.jpg) no-repeat center center/cover;
    filter:grayscale(1);
    transition: 0.5s;
}


.rightPic button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 30px;
    line-height: 50px;
    border-radius: 15px;
    border: 1px solid #fff;
    background: rgba(255,255,255,0.5);
    cursor: pointer;
    font-size: 20px;
}


.rightPic button:hover {
    background: #fff;
}

.rightPic i {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 100px;
    opacity: 0;
    transition: 0.5s;
    color: rgba(30, 160, 110, 0.493);
    animation: heart 1s infinite;
}


@keyframes heart {
    0% {
        transform: scale(1);
    }
    20% {transform: scale(0.5);
    }
    50% { transform: scale(1);
    }
    70% { transform: scale(0.5);
    }
    100% { transform: scale(1);
    }
} 


.footerWrap {
    background: #111;
    color: #f2f2f2;
    line-height: 60px;
}

.footerWrap .container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.footerWrap .top {
    border-bottom: 1px solid #666;
}

.footerWrap .container>dl {
    display: flex;
    padding: 0 15px;
    gap: 40px;
}

.footerWrap .container dd {
    position: relative;
}

.footerWrap .container dd::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    display: block;
    width: 1px;
    height: 13px;
    background: #f2f2f2;
}

.footerWrap .container>div {
    padding: 0 15px;
    font-size: 20px;
}

.footerWrap .bottom {
    padding-bottom: 50px;
}

.footerWrap .container>* {
    padding: 0 15px;
}

.footerWrap .link select {
    background: #111;
    font-size: 13px;
    color: #999;
    padding: 4px 10px;
    outline: none;
    border: none;
    border: 1px solid #999;
}

.bottom .container address {
    color: #999;
    font-size: 13px;
}

.popup01 {
    position: absolute;
    inset: 40% auto auto 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #333;
    padding: 60px 30px;
    background: #fff;
}

.popup01 h4 {
    position: absolute;
    top: 40px;
    font-size: 45px;
    font-weight: 900;
    z-index: 50;
}

.popup01 span {
    position: absolute;
    top: 150px;
    color: #999;
    font-weight: 500;
    z-index: 20;
}

.popup01 img {
    min-width: 400px;
    transform: translateY(50px);
}

.popup01 button:last-child {
    position: absolute;
    inset: auto 20px 20px auto;
    width: 80px;
    height: 30px;
    outline: none;
    border: 1px solid #333;
    background: #fff;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

.popup01 .goProduct {
    position: absolute;
    width: 100px;
    height: 30px;
    inset: auto 120px 20px auto;
    outline: none;
    border: 1px solid #333;
    background: #333;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

