.headerWrap {
    background: #333;
    color: #fff;
    padding: 50px 0;
}

.headerWrap .container {
    
    width: 1200px;
    margin: 0 auto;
}

i {
    position: absolute;
    right: 20%;
    
}

.tabMenu {
    padding: 100px 0;
    background: #f2f2f2;
}

.tabMenu .container {
    width: 600px;
    margin: 0 auto;
}

.tabMenu .tabLink {
    display: flex;
}

.tabMenu .tabLink li {
    flex: 1;
    cursor: pointer;
}


.tabMenu .tabLink li.active {
    font-weight: 700;
    font-size: 18px;
    transform: translateY(-20%);
}

.tabContent {
    display: flex;
}

.tabContent div {
    flex: 1;
}


.tabMenu .tabContent>div {
    display: none;
}

.tabMenu .tabContent>div.active {
    display: block;
}

.bgFixed {
    padding: 200px 0;
    text-align: center;
    color: #fff;
    background: url(../img/pic03.jpg) no-repeat fixed center center/cover;
    margin-bottom: 200px;
}

.bgFixed h2 {
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 3em;
    margin-bottom: 30px;
}

.footerWrap {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
