@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
}

body {
  font-family: "Noto Serif KR", sans-serif;
}

/* 재사용 */

section {
  margin-bottom: 30px;
  display: flex;
}
.container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

h2,
p {
  text-align: center;
}

/* */

header {
  display: flex;
  justify-content: center;
}

header h1 a img {
  height: 100px;
}

header nav {
  display: flex;
  align-items: center;
}

header ul {
  display: flex;
}

header ul li {
  padding: 0 15px;
  list-style: none;
}

.first {
  justify-content: center;
  position: relative;
}

.first .fig01 img {
  width: 100%;
}

.first .slogan {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.second {
  flex-direction: column;
  align-items: center;
}

.second .container img {
  width: 100%;
  height: 300px;
}

.second .container figure {
  margin: 10px;
}

.second .container a {
  display: block;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  background: #000;
  color: #fff;
  line-height: 30px;
  margin-top: 10px;
}

.third {
  flex-direction: column;
}
